body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* home page */

.home .grid{
  margin-bottom: 100px;
}

.home .grid div {
  margin-top: 20px;
  background-size: cover, contain;
  background-position: center;
  cursor: pointer;
}

.home .grid .wrapper {
  overflow: hidden;
  opacity: .5;
}

.home .grid .wrapper h5 {
  position: relative;
  top: -50px;
  display: inline-block;
  padding: 2px 10px;
}

.home .grid div.a {
  background-image: url('./assets/services/books.png');
}

.home .grid div.b {
  background-image: url('./assets/services/children.png');
}

.home .grid div.c {
  background-image: url('./assets/services/colors.png');
}

.home .grid div.d {
  background-image: url('./assets/services/monkeys.png');
}

.home .grid div.e {
  background-image: url(./assets/services/public.png);
}

.home .grid div.f {
  background-image: url('./assets/services/schoolstuff.png');
}

.home .grid div.g {
  background-image: url('./assets/services/storybooks.png');
}

.home .grid div.h {
  background-image: url('./assets/services/studying.png');
}

.home .grid div .spacer {
  margin: 50% 0%;
}

.home .grid div button {
  bottom: -40px;
}

/* home page animations */

.home .grid .wrapper:hover {
  opacity: 1;
}

.home .grid .wrapper:hover > h5 {
  animation: slide1 1s forwards;
}

.home .grid .wrapper:hover > button {
  animation: slide2 1s forwards;
  cursor: pointer;
}

@keyframes slide1 {
  from {
    top: -50px;
  }
  to {
    top: 0px;
  }
}

@keyframes slide2 {
  from {
    bottom: -40px;
  }
  to {
    bottom: 10px;
  }
}

/* contact page */

.contact ::-webkit-input-placeholder {
  color: #2196f3;
}

.contact h1 {
  text-decoration: underline;
}

.contact .message-container {
  margin-top: 70px;
  overflow: hidden;
}

.contact form .name {
  left: -1000px;
  animation: slide .75s forwards;
}

.contact form .email {
  left: -1000px;
  animation: slide .75s .75s forwards;
}

.contact form .message {
  left: -1000px;
  animation: slide .75s 1.5s forwards;
}

.contact form button {
  transform: scale(0);
  animation: pop .5s 1.75s forwards;
}

.contact .map-container {
  position: absolute;
  height: 40%;
  width: 40vw;
}

@media all and (max-width: 992px) {
  .contact .message-container {
    margin-top: 0px;
  }

  .contact .map-container {
    width: 82.5vw;
  }
}

@keyframes slide {
  from {
    left: -1000px;
  }
  to {
    left: 0px;
  }
}

@keyframes pop {
  0% {
    transform: scale(0);
  }
  90% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

/* footer */

footer{
  position: fixed;
  width: 100%;
  bottom: 0%;
  padding-top: 20px;
}